<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
</br>

<%= button_to "Back", { action: "index" 	} , method: :get %>
<%= button_to "Edit", { :action => "edit", :id => @article.id }, method: :get %>
<%= button_to "Delete", { :action => "destroy", :id => @article.id },
      												:confirm => "Are you sure?", method: :delete %>


