<h1><%= @article.title %></h1>

<p>Tags: <%= tag_links(@article.tags) %></p>
<br />

<% if @article.image.exists? %>
	<p><%= image_tag @article.image.url %><p><br/>
<% end %>

<p><%= @article.body %></p>
<br />
<% if author_signed_in? %>
	<% if @article.author_id == current_author.id || current_author.admin? %>
		<div class = "button">
			<%= link_to "Edit", { :action => "edit", :id => @article.id }, method: :get %>
			<%= link_to "Delete", { :action => "destroy", :id => @article.id },
		    												:confirm => "Are you sure?", method: :delete %>
		</div>
	<% end %>
<% end %>

<hr>


</br>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render "comment" %>

<%= render 'comments/form' %>
