%h1
	= @author.name

- unless current_author.admin?
	= link_to "Delete Account", author_path(@author), method: :delete, style: "float: right", confirm: "Are you sure ?"

%table{style: "float: left; margin-right: 100px;" }
	%thead
		%tr
			%th
				%h2 Articles
	%tbody
		- @author.articles.each do |article|
			%tr
				%td
					= link_to article.title, article_path(article)
					= link_to "Remove", {  action: "remove_article_from_author", id: article.id }, method: :delete 
%%table
	%thead
		%tr
			%th
				%h2 Tags
	%tbody
		- @author.tags.each do |tag|
			%tr
				%td
					= link_to tag.name, tag_path(tag)